################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/OldFileCleaner/obj
/OldFileCleaner/.vs
/OldFileCleaner/bin
